@keyframes move {
  0%   {top:0px;}
  25%  {top:200px;}
  50%  {top:100px;}
  75%  {top:200px;}
  100% {top:0px;}
}

@keyframes move-2 {
  from {top: 0px;}
  to {top: 200px;}
}


/* =============== EXPECTED OUTPUT =============== */

@keyframes move {
  0%   {top:0px;}
  25%  {top:200px;}
  50%  {top:100px;}
  75%  {top:200px;}
  100% {top:0px;}
}

@keyframes move-2 {
  from {top: 0px;}
  to {top: 200px;}
}
