@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }

  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@layer {
  div {
    @container (width < 200px) {
      color: red;
    }
    @container(width < 200px){color:red;}
  }
}

@media (
prefers-color-scheme:
light
) {}


/* =============== EXPECTED OUTPUT =============== */

@media (prefers-color-scheme: light) {
  a[data-k-1tzpr5hj]:hover {
    color: #747bff;
  }

  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a[data-k-1tzpr5hj]:hover {
    color: #747bff;
  }

  button[data-k-1tzpr5hj] {
    background-color: #f9f9f9;
  }
}

@layer {
  div[data-k-1tzpr5hj] {
    @container (width < 200px) {
      color: red;
    }
    @container(width < 200px){color:red;}
  }
}

@media (
prefers-color-scheme:
light
) {}
