h1 {
  color: red;
}

element-name-with-lines {
  color: red;
}

div p {
  color: red;
}

/* =============== EXPECTED OUTPUT =============== */

h1[data-k-2dcb038d] {
  color: red;
}

element-name-with-lines[data-k-2dcb038d] {
  color: red;
}

div[data-k-2dcb038d] p[data-k-2dcb038d] {
  color: red;
}
