p:nth-child(6) {
  color: red;
}

p:nth-child(n + 8) {
  color: orange;
}

p:nth-child(2n + 4 of p) {
  color: green;
}

div:nth-child(2n + 2 of :has(p.foo)) {
  font-size: 2rem;
}

div:nth-child(2n + 2 of _:has(p.foo)) {
  font-size: 2rem;
}

div:nth-child(2n + 2 of :has(_p.foo)) {
  font-size: 2rem;
}

/* =============== EXPECTED OUTPUT =============== */

p[data-k-392a205b]:nth-child(6) {
  color: red;
}

p[data-k-392a205b]:nth-child(n + 8) {
  color: orange;
}

p[data-k-392a205b]:nth-child(2n + 4 of p[data-k-392a205b]) {
  color: green;
}

div[data-k-392a205b]:nth-child(2n + 2 of [data-k-392a205b]:has(p.foo[data-k-392a205b])) {
  font-size: 2rem;
}

div[data-k-392a205b]:nth-child(2n + 2 of :has(p.foo[data-k-392a205b])) {
  font-size: 2rem;
}

div[data-k-392a205b]:nth-child(2n + 2 of [data-k-392a205b]:has(p.foo)) {
  font-size: 2rem;
}
